
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 420px; /* 14 * (셀 너비 + 셀 간격) */
  }

  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
